name: Build

on:
  push:
    branches:
      - main
jobs:
  build-windows:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: "npm"

      - name: Add Cargo to PATH
        run: echo "$env:USERPROFILE\.cargo\bin" >> $env:GITHUB_PATH
        shell: pwsh

      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"

      - name: Install dependencies
        run: npm ci
        shell: pwsh

      - name: Build Tauri app
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_NSIS_PATH: C:\Program Files (x86)\NSIS
          TAURI_SIGNING_PRIVATE_KEY: dW50cnVzdGVkIGNvbW1lbnQ6IHJzaWduIGVuY3J5cHRlZCBzZWNyZXQga2V5ClJXUlRZMEl5RC9wekJuT2R3RGFZN0FQQ09UMENldVBTTEQzWVNJQXVOT3ZEL0VaSHBTa0FBQkFBQUFBQUFBQUFBQUlBQUFBQUFUekZ1Y0NPZFFyVlkyY0hmZGttUzhQUW92cnFvVW13YldNWm01K0g3dlBYNkpHU2wrSjE3Q1dUa2lHT0xVVlNja2FwTGRuMlFZNDJnN1N3c2dRSVVVcjdaWUhYMENXZVVBcHZzYThWMDJEVGp0WDhsbWR3aTFEWXZLUXRuS0U4aUJYT1JTSDhPS1k9Cg==
        with:
          tagName: v__VERSION__
          releaseName: "App v__VERSION__"
          releaseBody: "See the assets for download."
          releaseDraft: true
